#authBlock
	.swiper-wrapper.wrap
		form#login-form.swiper-slide.xl-4-12
			fieldset
				legend
					span Авторизация
					b /
					a.button-next Регистрация
				fieldset
					label Имя пользователя
					input(type="text", required)
					label Пароль
					input(type="password", required)
				//- button.btn Войти
				fieldset
					button.btn Войти
					//- a.button-next(href="#") Регистрация
					//- a(href="#") Забыли пароль?

		form#reg-form.swiper-slide.xl-8-12
			fieldset.wrap.left-xl
				legend
					a.button-prev Авторизация
					b /
					span Регистрация
				fieldset.xl-1-2
					label.label-required ФИО
					input(type="text", required)
					label.label-required Контактный телефон
					input(type="tel", required)
				fieldset.xl-1-2
					label.label-required E-mail
					input(type="email", required)
					label.label-required Пароль
					input(type="password", required)
				fieldset
					button.btn Регистрация
					label.checkbox.xxs-1-2
						input(type="checkbox")
						span Согласен с условиями <br> пользовательского соглашения
					span.info-block.label-required - Обязательные поля

	a.trigger-btn(href="#", data-expand="authBlock", data-expand-mode="private")
