- var mainMenuItems = [{parentName: "ГОТОВЫЕ БЛЮДА", childs : ["Мясные продукты","Замороженные продукты","Молочные продукты","Рыба","Кондитерские изделия","Хлебобулочные изделия","Овощи, фрукты"]}, {parentName: "продукты", childs : ["Всё для детей","Бакалея","Напитки","Подарочные наборы"]}, {parentName: "цветы", childs : ["Напитки","Подарочные наборы"]}, {parentName: "аптека", childs : ["Лекартства","Памперсы"]}, {parentName: "разделы", childs : ["Стать паартнером","Пользовательское соглашение","Акции","Новости","Контактная информация","О компании"]}]

//- - var mainMenuItems = [
//- 	{
//- 		"parentName": "ГОТОВЫЕ БЛЮДА",
//- 		"childs" : [
//- 			"Мясные продукты",
//- 			"Замороженные продукты",
//- 			"Молочные продукты",
//- 			"Рыба",
//- 			"Кондитерские изделия",
//- 			"Хлебобулочные изделия",
//- 			"Овощи, фрукты"
//- 		]
//- 	},
//- 	{
//- 		parentName: "продукты",
//- 		childs : [
//- 			"Всё для детей",
//- 			"Бакалея",
//- 			"Напитки",
//- 			"Подарочные наборы"
//- 		]
//- 	},
//- 	{
//- 		parentName: "цветы",
//- 		childs : [
//- 			"Напитки",
//- 			"Подарочные наборы"
//- 		]
//- 	},
//- 	{
//- 		parentName: "аптека",
//- 		childs : [
//- 			"Лекартства",
//- 			"Памперсы"
//- 		]
//- 	},
//- 	{
//- 		parentName: "разделы",
//- 		childs : [
//- 			"Стать паартнером",
//- 			"Пользовательское соглашение",
//- 			"Акции",
//- 			"Новости",
//- 			"Контактная информация",
//- 			"О компании"
//- 		]
//- 	}
//- ]