header
	.user-area
		a.auth-btn.classTrigger(href="#auth-block")
		a.basket-btn(href="#")
		//- a.profile-btn(href="#auth-block")
		//- a.basket-btn.full(href="#")
	form.top-search
		input(type="text",name="s",placeholder="Поиск (например: Молоко, Ресторан, Скидка)")
		input.search-btn(type="button")