header
	.logo
		button(data-expand="aside")
		a(href="/")
			img(src="/assets/images/logo.png", alt="logo")
			//- div Доставка
	.user-area
		a.auth-btn(href="#", data-expand="authBlock", data-expand-mode="private")
			span Вход / Регистрация
		a.basket-btn(href="#", data-modal="basket")
		//- a.profile-btn(href="#")
		//- a.basket-btn.full(href="#")
	form.top-search
		input(type="text",name="s",placeholder="Поиск (например: Молоко, Ресторан, Скидка)")
		//- button.search-btn(type="button")