aside#aside
	nav
		ul
			li.single-item.mobile-menu-item
				span(data-expand="authBlock", data-expand-mode="private") Авторизация / Регистрация
			li.mobile-menu-item
				span Профиль
				ul
					li: a(href="#") Профиль
					li: a(href="#") Мои заказы
					li: a(href="#") Напоминания
			li.single-item.mobile-menu-item
				span(data-modal="basket") Корзина
			li
				span Страницы
				ul
					li: a(href="/") Главная
					li: a(href="/catalog.html") Каталог
					li: a(href="/static.html") Новость
			li
				span Модальное окна
				ul
					li: a(href="#", data-modal="order", data-animation="fade") Заказ
					li: a(href="#", data-modal="mods") Модификаторы
					li: a(href="#", data-modal="basket") Корзина

			- var sidebarItems = [{parentName: "ГОТОВЫЕ БЛЮДА", childs : ["Мясные продукты","Замороженные продукты","Молочные продукты","Рыба","Кондитерские изделия","Хлебобулочные изделия","Овощи, фрукты"]}, {parentName: "продукты", childs : ["Всё для детей","Бакалея","Напитки","Подарочные наборы"]}, {parentName: "цветы", childs : ["Напитки","Подарочные наборы"]}, {parentName: "аптека", childs : ["Лекартства","Памперсы"]}, {parentName: "разделы", childs : ["Стать паартнером","Пользовательское соглашение","Акции","Новости","Контактная информация","О компании"]}]
			each item in sidebarItems
				li
					a(href="#")= item.parentName
					ul
						each childItem in item.childs
							li: a(href="#")= childItem
	.contacts
		p.title Телефон <br> справочной <br> службы
		p: a.tel(href="tel:+78004252233") 8-800-42-5-22-33
		p.small-desc звонки принимаются <br> с 9:00 до 18:00
