//- VARS


//- FUNCTIONS

//- breadcrumbs
mixin breads (items)
	//- if !items
	//- 	- items = ['Главная']
	each item, i in items
		//- если элемент последний, то выводим span
		if i != items.length
			li: a(href="#") #{item}
		else
			li.current: span #{item}