extends ../layouts/default.jade
block breads
	- items = ['Главная', 'Доставка еды', 'Вкусняшки']
	.breads
		ul
			+breads(items)
block content
	.main-content.wrap
		.filter.wrap.xl-3-11.md-1-1
			.checkbox-group.xl-1-1.md-2-5.xs-1-2.xxs-1-1
				.checkbox-group-title
					span(data-open="catalogFilter1", data-open-mode="private") Категория
				#catalogFilter1.checkbox-group-items
					a.clearFilter(href="#") Очистить
					- var categoryOptions = ['Мясные продукты', 'Замороженные продукты', 'Молочные продукты', 'Рыба', 'Кондитерские изделия', 'Хлебобулочные изделия', 'Овощи', 'фрукты','Товары для дома', 'Косметика и гигиена', 'Бытовая техника и электроника', 'Всё для детей', 'Бакалея', 'Напитки', 'Подарочные наборы']
					each item in categoryOptions
						label.checkbox
							input(type="checkbox")
							span= item
			.checkbox-group.xl-1-1.md-2-5.xs-1-2.xxs-1-1
				.checkbox-group-title
					span(data-open="catalogFilter2", data-open-mode="private") Доп. фильтр
				#catalogFilter2.checkbox-group-items
					a.clearFilter(href="#") Очистить
					- var addFilterOptions = ['Вегитарианское', 'Разноцветное', 'Вкусное', 'Черное', 'Красное', 'Ароматное', 'Горячее']
					each item in addFilterOptions
						label.checkbox
							input(type="checkbox")
							span= item

		.cat.xl-8-11.md-1-1
			- for(var j=0; j<2; j++)
				h2.caps-text продукты (категория)
				.wrap.gutter-15-xl
					- for(var i=0; i<4; i++)
						.cat-item.xl-1-2
							.item-image
								a(href="#")
									img(src="/assets/images/cat-item.png", alt="cat item name")
							.item-desc
								.item-name Пицца
								p При заказе от 1200 руб. пицца Моцарелла классик в подарок!
								.basket-area
									span.cost.cost-small 200
										sub руб
									span.add-to-basket
										span 1шт.
										button