extends ../layouts/default.jade
block breads
	- items = ['Главная', 'Доставка еды', 'Вкусняшки']
	.breads
		ul
			+breads(items)
block content
	.main-content.wrap
		.filter.wrap.xl-3-11.md-1-1
			#catalogFilter1.checkbox-group.xl-1-1.md-2-5
				.checkbox-group-title(data-trigger="catalogFilter1")
					span Категория
					a.clearFilter(href="#") Очистить
				.checkbox-group-items
					- var categoryOptions = ['Мясные продукты', 'Замороженные продукты', 'Молочные продукты', 'Рыба', 'Кондитерские изделия', 'Хлебобулочные изделия', 'Овощи', 'фрукты','Товары для дома', 'Косметика и гигиена', 'Бытовая техника и электроника', 'Всё для детей', 'Бакалея', 'Напитки', 'Подарочные наборы']
					each item in categoryOptions
						label.checkbox
							input(type="checkbox")
							span= item
			#catalogFilter2.checkbox-group.xl-1-1.md-2-5
				.checkbox-group-title(data-trigger="catalogFilter2")
					span Доп. фильтр
					a.clearFilter(href="#") Очистить
				.checkbox-group-items
					- var addFilterOptions = ['Вегитарианское', 'Разноцветное', 'Вкусное', 'Черное', 'Красное', 'Ароматное', 'Горячее']
					each item in addFilterOptions
						label.checkbox
							input(type="checkbox")
							span= item

		.cat.wrap.xl-8-11.md-1-1.gutter-15-xl
			- for(var j=0; j<2; j++)
				h3.caps-text продукты (категория)
				- for(var i=0; i<4; i++)
					.cat-item.xl-1-2
						.item-image
							a(href="#")
								img(src="/assets/images/cat-item.png", alt="cat item name")
						.item-desc
							.item-name Пицца
							p При заказе от 1200 руб. пицца Моцарелла классик в подарок!
							.basket-area
								span.cost.cost-small 200
									sub руб
								span.add-to-basket
									span 1шт.
									button