extends ../layouts/default.jade
block breads
	- items = ['Главная', 'Доставка еды', 'Вкусняшки']
	.breads
		ul
			+breads(items)
block content
	.main-content
		.filter
			.heading 
				div Категория
				a.clearFilter(href="#") Очистить
			.checkbox-group
				- var categoryOptions = ['Мясные продукты', 'Замороженные продукты', 'Молочные продукты', 'Рыба', 'Кондитерские изделия', 'Хлебобулочные изделия', 'Овощи', 'фрукты','Товары для дома', 'Косметика и гигиена', 'Бытовая техника и электроника', 'Всё для детей', 'Бакалея', 'Напитки', 'Подарочные наборы']
				each item in categoryOptions
					label.checkbox
						input(type="checkbox")
						span= item
			.heading
				div Доп. фильтр
				a.clearFilter(href="#") Очистить
			.checkbox-group
				- var addFilterOptions = ['Вегитарианское', 'Разноцветное', 'Вкусное', 'Черное', 'Красное', 'Ароматное', 'Горячее']
				each item in addFilterOptions
					label.checkbox
						input(type="checkbox")
						span= item

		.products.cat.wrap.left-xl
			- for(var j=0; j<2; j++)
				h3 продукты (категория)
				- for(var i=0; i<4; i++)
					.cat-item.xl-1-2
						.item-image
							a(href="#")
								img(src="/assets/images/cat-item.png", alt="cat item name")
						.item-desc
							.item-name Пицца
							p При заказе от 1200 руб. пицца Моцарелла классик в подарок!
							.basket-area
								span.cost.cost-small 200
									sub руб
								span.add-to-basket
									span 1шт.
									button