extends ../layouts/default.jade
block content
	main
		include ../include/home/top-slider.jade
		include ../include/home/categories.jade
		include ../include/home/best-offers.jade
		include ../include/home/novelty-slider.jade
		include ../include/home/single-product-slider.jade
		include ../include/home/adv-block.jade