extends ../layouts/default.jade
block content
	.main-content.fluid
		include ../include/home/top-slider.jade
		include ../include/home/best-offers.jade
		include ../include/home/novelty-slider.jade
		include ../include/home/single-product-slider.jade