extends ../layouts/default.jade
block content
	main
		//- block breads
		- items = ['Главная', 'Доставка еды', 'Вкусняшки']
		.breads
			ul
				+breads(items)
		.shop-info.wrap
			.shop-logo.xl-2-9.md-3-11.xxs-hidden
				img(src="/assets/images/shop_logo.png", alt="shop logotype")
			.shop-data.xl-7-9.md-8-11.xxs-1-1
				h1.shop-name Магазин на диване
				.shop-tagline Японская и китайская кухня
				table.shop-args
					tr
						th 250 руб
						th 110 руб
						th 60 минут
					tr
						td мин сумма заказа
						td доставка
						td среднее время
				.wrap
					.shop-desc.xl-6-11.md-1-1
						| Минимальная сумма заказа в Кировский и Тракторозаводской район - 1200 руб.,
						| Красноармейский районы - 2000 руб. Напитки не входят в минимальную сумму заказа.
					.buttons.xl-right.xl-5-11.md-1-1.md-left
						button.btn.btn-light-gray Информация
						button.btn.btn-light-gray Отзывы

		.wrap
			.nav-tree.xl-2-9.md-1-1
				span.nav-title Категории
				ul.nav-expand.wrap.xl-1.md-3.sm-2.xxs-1
					- var lvl1 = [ {'title': 'Мясные продукты'}, {'title': 'Замороженные продукты'}, {'title': 'Молочные продукты'}, {'title': 'Рыба', 'subItems': ['Мясные продукты', 'Замороженные продукты', 'Молочные продукты', 'Рыба', 'Кондитерские изделия', 'Хлебобулочные изделия', 'Овощи', 'фрукты','Товары для дома']}, { 'title': 'Кондитерские изделия', 'subItems': ['Мясные продукты', 'Замороженные продукты', 'Молочные продукты', 'Рыба', 'Кондитерские изделия', 'Хлебобулочные изделия', 'Овощи', 'фрукты','Товары для дома'] }, {'title': 'Хлебобулочные изделия'}, {'title': 'Овощи'}, {'title': 'фрукты'}, {'title': 'Товары для дома'}, {'title': 'Косметика и гигиена'}, {'title': 'Бытовая техника и электроника'}, {'title': 'Всё для детей'}, {'title': 'Бакалея'}, {'title': 'Напитки'}, {'title': 'Подарочные наборы'} ]
					each item in lvl1
						li
							span= item.title
							if item.subItems
								if item.subItems.length > 0
									ul
										each subItem in item.subItems
											li: span= subItem

			.cat.xl-7-9.md-1-1
				- for(var j=0; j<2; j++)
					h2.caps-text продукты (категория)
					.wrap.xl-gutter-30
						- for(var i=0; i<4; i++)
							.cat-item.xl-1-2
								.item-image
									a(href="#")
										img(src="/assets/images/cat-item.png", alt="cat item name")
								.item-desc
									.item-name Пицца
									p При заказе от 1200 руб. пицца Моцарелла классик в подарок!
									.basket-area
										span.cost.cost-small 200
											sub руб
										span.add-to-basket
											span 1шт.
											button