.modal.modal-basket#basket
	.modal-head
		span Корзина
		a.close-modal.close-modal-btn
	.modal-body.table-layout.wrap.right-xl
		.thead.xl-8-12.wrap.left-xl
			.xl-7-11 Наименование
			.xl-2-11 Количество
			.xl-2-11 Цена
		- for (var i = 1; i < 3; i++)
			.tbody
				.table-row.wrap.xl-1-1.left-xl
					.table-row-title.xl-4-12
						img(src="/assets/images/shop#{i}.png", alt="shop logo")
						h4 Наименование магазина
						div г. Владикавказ, <br> ул. Маркова 15Б

					.table-row-items.xl-8-12
						- for (var j = 0; j < 2; j++)
							.table-row-item.wrap
								.xl-7-11 Вкусное блюдо с доставкой 30см 480гр
								.custom-input-number.xl-2-11
									button -
									input(value="1")
									button +
								.xl-2-11 370р
					.table-row-total.wrap.right-xl
						.wrap.xl-8-12 
							.xl-1-8 Итого:
							.total-cost.xl-7-8.right-xl 1700р
						.table-row-noty.xl-8-12.left-xl Минимальная сумма заказа в этом магазине: 3000р

	.modal-foot.right-xl
		.order-summ Цена итоговая:
			span 3580р
		button.btn.btn-green Оформить заказ
		button.btn.btn-gray.close-modal Очистить