.modal.modal-basket#basket
	.modal-head
		span Корзина
		a.close-modal.close-modal-btn
	.modal-body.table-layout.wrap.right-xl
		.thead.xl-8-12.xxs-1-1
			.col-name Наименование
			.col-count Количество
			.col-cost Цена
		.tbody
			- for (var i = 1; i < 3; i++)
				.table-row.wrap
					.table-row-title.xl-4-12.xxs-1-1
						img(src="/assets/images/shop#{i}.png", alt="shop logo")
						h4 Наименование магазина
						.address г. Владикавказ, <br> ул. Маркова 15Б

					.table-row-items.xl-8-12.xxs-1-1
						- for (var j = 0; j < 2; j++)
							.table-row-item
								.col-name Вкусное блюдо с доставкой 30см 480гр
								.col-count
									button -
									input(value="1")
									button +
								.col-cost 370р
					.table-row-total.wrap.right-xl
						.wrap.xl-8-12.xxs-1-1
							.xl-1-8 Итого:
							.total-cost.xl-7-8.right-xl 1700р
						.table-row-noty.xl-8-12.xxs-1-1.left-xl Минимальная сумма заказа в этом магазине: 3000р

	.modal-foot.xl-right
		.order-summ.xxs-1-1 Цена итоговая:
			span 3580р
		button.btn.btn-green Оформить заказ
		button.btn.btn-gray Очистить