.modal.modal-order#order
	.modal-head 
		span Заказ
		a.close-modal.close-modal-btn
	.modal-body.wrap
		.xl-7-12.xxs-1-1
			label ФИО
			input(type="text", value="Иванов Иван")
			label Адрес доставки
			input(type="text")
			label Контактный телефон
			input(type="text")
			label Комментарий
			textarea
		.order-summ.xl-5-12.xxs-1-1.xl-right.xxs-left Сумма заказа:
			span 3580р
		.order-payments.radio-group
			div.radio-group-title Методы оплаты
			ul
				li.radio: label
					input(type="radio", name="order-payment", value="1")
					span Наличными курьеру (3680р)
				li.radio: label
					input(type="radio", name="order-payment", value="2")
					span Безналичная оплата
				img(src="/assets/images/payments.jpg", alt="payment types")

	.modal-foot.xl-right
		button.btn.btn-green Заказать
		button.btn.btn-gray.close-modal Назад