section.mobile-adv-wrap
	.mobile-adv-block
		.desc
			h2 Возьми с собой 
				b Bringo
			p скачай наше удобное приложение для iPhone и Android бесплатно!
			a.gplay-btn(href="#") Google Play
			a.astore-btn(href="#") App Store
		.image
			img(src="/assets/images/icon/icon-adv-block.png", alt="adv poster")