section.best-offers.wrap.vTop
	.nav-tree.wrap.xl-3-11.md-1-1
		.checkbox-group
			span.nav-title(
				data-expand="bestOffersFilter",
				data-expand-mode="private"
			) Кухни/Блюда
			ul#bestOffersFilter.wrap.xl-1.md-3.sm-2.xxs-1
				a.clearFilter(href="#") Очистить
				- var filterOptions = ['Мясные продукты', 'Замороженные продукты', 'Молочные продукты', 'Рыба', 'Кондитерские изделия', 'Хлебобулочные изделия', 'Овощи', 'фрукты','Товары для дома', 'Косметика и гигиена', 'Бытовая техника и электроника', 'Всё для детей', 'Бакалея', 'Напитки', 'Подарочные наборы']
				each item in filterOptions
					li.checkbox: label
						input(type="checkbox")
						div= item
	.cat.xl-8-11.md-1-1
		h2.caps-text Лучшие предложения недели
		.wrap.xl-gutter-30
			- for(var i = 0; i < 6; i++)
				.cat-item.xl-1-2
					.item-image
						a(href="#")
							img(src="/assets/images/cat-item.png", alt="cat item name")
					.item-desc
						.item-name Пицца
						p При заказе от 1200 руб. пицца Моцарелла классик в подарок!
						button.btn Подробнее