section.novelty-slider.swiper-container
	h3.caps-text Новинки
	.swiper-wrapper.cat
		- for(var i=0; i<4; i++)
			.swiper-slide.cat-item
				.item-image
					a(href="#")
						img(src="/assets/images/cat-item.png", alt="cat item name")
				.item-desc
					.item-name Пицца
					p При заказе от 1200 руб. пицца Моцарелла классик в подарок!
					button.btn Подробнее
	.swiper-button-next
	.swiper-button-prev