section.single-product.wrap.left-xl
	.single-product-slider.xl-3-10.swiper-container
		.swiper-wrapper
			- for(var i = 1; i <= 2; i++)
				.swiper-slide
					img(
						src="/assets/images/single-product-#{i}.jpg",
						alt="slider image 1"
					)
		.swiper-pagination.gray-dots.single-slider-pagination

	.single-product-desc.xl-5-12
		h3 Мясной продукт с длинным наименованием
		span 150грамм
		.cost 200
			sub руб.
		p
			| Алеаторика, и это особенно заметно у Чарли Паркера или Джона Колтрейна,
			| иллюстрирует деструктивный флажолет, а после исполнения Утесовым
			| роли Потехина в “Веселых ребятах” слава артиста стала всенародной.
			| Синкопа полифигурно варьирует доминантсептаккорд.
			| Еще Аристотель в своей Политике говорил, что музыка,
			| воздействуя на человека, доставляет своего рода очищение,
			| то есть облегчение, связанное с наслаждением, однако алеаторика заканчивает
			| целотоновый дисторшн, благодаря широким мелодическим скачкам.
		.buttons
			button.btn.btn-green Заказать
			button.btn Подробнее