.swiper-container.main-slider
	.swiper-wrapper
		.swiper-slide
			.slide-bg-image(style="background-image: url(/assets/images/bg/bg-slider.jpg)")
			.slide-content
				.image 
					img(src="/assets/images/slide1.png", alt="slider image 1")
				.desc
					h2 Slide 1
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur, facere cum optio accusamus. Reiciendis aspernatur, aliquid, nemo totam officia omnis cupiditate eum expedita earum ut recusandae incidunt molestias itaque deserunt.
		.swiper-slide
			.slide-bg-image(style="background-image: url(/assets/images/bg/bg-slider.jpg)")
			.slide-content
				.image 
					img(src="/assets/images/slide1.png", alt="slider image 2")
				.desc
					h2 Slide 2
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste ratione aspernatur repellendus, porro rem totam laborum quaerat dignissimos obcaecati blanditiis temporibus modi facilis, sunt incidunt aut maxime placeat autem expedita!
		.swiper-slide
			.slide-bg-image(style="background-image: url(/assets/images/bg/bg-slider.jpg)")
			.slide-content
				.image 
					img(src="/assets/images/slide1.png", alt="slider image 3")
				.desc
					h2 Slide 3
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius sapiente culpa, rem fuga vitae dignissimos magni sequi dolorem! Quae, maiores, fugit? Eius, mollitia animi debitis officia voluptatum deserunt voluptate quibusdam.
	.swiper-pagination