aside {
	position: absolute;
	width: $aside-width;
	min-height: 100%;
	margin-left: -$aside-width;
	padding: 165px $base-padding 0;
	float: left;
	@include bg($bgcolor: $bg-dark-color, $filename: 'aside-logo.png');
	color: $color-light-white;

	a {
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}

	nav {
		// элементы 1го уровня
		ul {
			li {
				position: relative;
				@include rem(margin-bottom, 25px);
				color: $color-light-blue;
				font-size: 18px;
				font-family: 'm-cond';
				text-transform: uppercase;

				li {
					margin: 0;
					font-size: 16px;
					color: $color-light-gray;
					text-transform: none;
				}
			}
			ul {
				padding-top: 10px;
			}
		}
	}

	.contacts {
		p.title {
			font-size: 18px;
			font-family: 'R-400';
			font-weight: bold;
		}
		p.small-desc {
			color: #929292;
		}
		p + p {
			@include rem(margin-top, 20px);
		}
	}
}