aside {
	position: absolute;
	top: 0;
	left: 0;
	width: $aside-width;
	min-height: 100%;
	padding: 165px 35px 150px;
	@include bg($bgcolor: $bg-dark-color, $filename: 'aside-logo.png');
	color: $color-light-white;

	&:after {
		content: '';
		display: block;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 140px;
		@include bg($filename: 'bg/bg-aside.png', $pos: -45px bottom);
	}

	a {
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}

	nav {
		ul {
			li {
				font-size: 16px;
				// @include fz(16px);
				font-family: 'm-cond';
				color: $color-light-gray;
				text-transform: none;
			}
			ul {
				// margin-top: 10px;
				@include rem(margin-top, 10px);
			}
		}
		// элементы 1го уровня
		> ul {
			> li {
				// margin-bottom: 25px;
				@include rem(margin-bottom, 25px);
				color: $color-light-blue;
				font-size: 18px;
				// @include fz(18px);
				text-transform: uppercase;
			}
		}
	}

	.contacts {
		p.title {
			// font-size: 18px;
			@include fz(18px);
			font-family: 'R-400';
			font-weight: bold;
		}
		p.small-desc {
			color: #929292;
		}
		p + p {
			margin-top: 20px;
			@include rem(margin-top, 20px);
		}
	}
}