#authBlock {
	position: relative;
	// height: 320px;
	// margin-top: -320px;
	height: 0;
	overflow: hidden;
	width: 100%;
	background-color: #333;
	@include gradient($img: 'bg/bg-auth.png', $from: rgba(0,0,0,0), $to: rgba(0,0,0,0.35));
	text-shadow: 1px 1px #333;
	// transition: margin-top .3s ease;
	transition: height .3s ease;

	.auth-container {
		padding: 30px 20%;
	}

	&.expanded {
		// margin-top: 0;
		height: 320px;
	}

	fieldset {
		border: 0;
		margin: 0;
		// padding: 0;
		// padding-right: 30px;
		font-size: 0;
		@extend .clrfix;

		legend {
			height: 36px;
			margin-bottom: 25px;
			padding: 5px 0 0 50px;
			font-family: 'R-400';
			font-size: 22px;
			color: #fff;

			span, a, b {
				position: relative;
				padding-right: 15px;
				font-size: inherit;
			}
			a, b {
				display: none;
				cursor: pointer;
			}
			a {
				text-decoration: underline;
			}
		}

		fieldset {
			margin-bottom: 10px;
		}

		a {
			font-size: 13px;
			color: #fff;
		}
	}

	form fieldset > * {
		vertical-align: middle;
	}

	label {
		display: inline-block;
		margin-bottom: 3px;
		font-size: 12px;
		color: #fff;
	}

	input[type="text"],
	input[type="email"],
	input[type="tel"],
	input[type="password"] {
		margin-bottom: 10px;
		border: 1px solid #222;
	}

	.checkbox {
		margin-left: 30px;

		span {
			display: inline-block;
			font-family: r-300;
			font-size: 12px;
			color: #fff;
		}
	}

	.info-block {
		float: right;
		line-height: 45px;
		color: #fff;
		font-size: 12px;

		&.label-required:after {
			right: auto;
			left: -10px;
		}
	}

	.btn {
		// margin-right: 20px;
		padding: 11px 40px;
	}

	#login-form {
		padding-right: 70px;
		legend {
			@include bg($filename: 'icon/icon-profile-btn.png');
		}
	}

	#reg-form {
		legend {
			@include bg($filename: 'icon/icon-reg-btn.png');
		}
		fieldset {
		}
	}

	.trigger-btn {
		position: absolute;
		top: 30px;
		right: 107px;
		width: 35px;
		height: 18px;
		opacity: .8;
		@include bg($filename: 'icon/icon-arrow-down.png');
		z-index: 2;

		&:hover {
			opacity: 1;
		}
	}
}