#auth-block {
	height: 320px;
	margin-top: -320px;
	width: 100%;
	padding: 35px 20%;
	transition: margin-top .3s ease;
	@include gradient($img: 'bg/bg-auth.png', $from: rgba(0,0,0,0), $to: rgba(0,0,0,0.35));

	&.opened {
		margin-top: 0;
	}

	fieldset {
		border: 0;
		margin: 0;
		padding: 0;
		padding-right: 30px;
		@extend .clrfix;

		legend {
			height: 36px;
			margin-bottom: 25px;
			padding: 5px 0 0 50px;
			font: 22px 'R-400';
			color: #fff;
		}
		&:last-child > * {
			vertical-align: middle;
		}
	}

	label {
		display: inline-block;
		margin-bottom: 3px;
		font-size: 12px;
		color: #fff;
	}

	input[type="text"],
	input[type="email"],
	input[type="tel"],
	input[type="password"] {
		width: 100%;
		margin-bottom: 10px;
		padding: 10px;
		border: 1px solid #222;
		font-size: 14px;
		color: #111;
	}

	.chbox {
		margin-left: 20px;

		span {
			line-height: 10px;
			font-size: 12px;
			color: #fff;
		}
	}

	.info-block {
		float: right;
		line-height: 45px;
		color: #fff;
		font-size: 12px;

		&.label-required:after {
			right: auto;
			left: -10px;
		}
	}

	#login-form {
		padding-right: 70px;
		legend {
			@include bg($filename: 'icon/icon-profile-btn.png');
		}
	}

	#reg-form {
		legend {
			@include bg($filename: 'icon/icon-reg-btn.png');
		}
	}
}