$sidebar-width : 250px;

* {
	margin: 0;
	padding: 0;
	font: 100% 'R-300';
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

a {
	color: inherit;
	font: inherit;

	&.tel {
		font-size: 20px;
	}
}

nav {
	ul {
		list-style: none;
	}
}

// т.к. flexible не расчитан на использование вложенных .wrap'ов,
// перебиваем стили, чтобы избавиться от ненужных отступов
.wrap .wrap {font-size: 0 !important;}


// EXTENDS
.clrfix {
	&:after {
		content: '';
		display: table;
		clear: both;
	}
}

.small-desc {
	font-size: 11px;
}

.ta-left {text-align: left;}
.ta-center {text-align: center;}
.ta-right {text-align: right;}

// CATALOG ITEMS STYLES
.cat {
	@extend .clrfix;

	.cat-item {
		display: table;
		margin-bottom: 45px;
		padding-right: 45px;
		float: left;
	}
	.item-image {
		display: table-cell;
		width: 220px;
		height: 220px;
		font-size: 0;

		a {
			display: block;
		}
		img {
			min-width: 100%;
			min-height: 100%;
		}
	}
	.item-desc {
		display: table-cell;
		height: 220px;
		vertical-align: top;
		padding: 29px;
		background-color: #fff;
		box-shadow:1px 1px 1px rgba(0,0,0,0.12);

		h3 {
			font: 20px 'R-700';
			margin-bottom: 10px;
		}
		p {
			width: 90%;
			height: 79px;
			overflow: hidden;
		}
	}
}