* {
	margin: 0;
	padding: 0;
	font-family: 'R-300';
	font-weight: normal;
	box-sizing: border-box;
}

html,
body {
	font-size: $base-font-size;
	// height: 100%;
}

a, span {
	color: inherit;
	font: inherit;

	&.tel {
		font-size: 20px;
		// @include fz(20px);
	}
}

p {
	font-size: 13px;
	& + & {
		margin-top: 20px;
		@include rem(margin-top, 20px);
	}
}

h1, h2, h3, h4, h5 {
	margin: 0;
}
h2 {
	// font-size: 40px;
	@include fz(40px);
}
h2 {
	// font-size: 35px;
	@include fz(35px);
}
h3 {
	// font-size: 30px;
	@include fz(30px);
}
h4 {
	// font-size: 22px;
	@include fz(22px);
	text-transform: none;
}

nav {
	ul {
		list-style: none;
	}
}

// flexible fix
.wrap .wrap {font-size: 0 !important;}

.no-scroll {
	overflow: hidden;
}

.clrfix {
	&:after {
		content: '';
		display: table;
		clear: both;
	}
}

.small-desc, small {
	font-size: 11px;
}
.caps-text {
	text-transform: uppercase;
}

.cost {
	font-size: 30px;
	// @include fz(30px);
	color: $color-dark-red;

	sub {
		font-size: 12px;
		color: #000;
	}
	&.cost-small {
		// font-size: 22px;
		@include fz(22px);

		sub {
			font-size: 10px;
		}
	}
}

ul.list {
	margin: 25px 0 25px 16px;
	@include rem(margin, 25px 0 25px 16px);

	li {
		position: relative;
		margin-bottom: 5px;
		color: #111;
		font-size: 13px;

		&:after {
			content: '';
			display: inline-block;
			position: absolute;
			top: 5px;
			left: -16px;
			width: 6px;
			height: 6px;
			border-radius: 100%;
			background-color: $color-gray;
		}
	}
}
.custom-input-number {
	font-size: 0;
	& > * {
		display: inline-block;
		width: 28px;
		height: 28px;
		font-size: 15px;
		vertical-align: middle;
	}
	input {
		width: 28px;
		margin: 0 1px;
		text-align: center;
	}
	button {
		background-color: #A4A4A4;
		border: 0;
		font-weight: 600;
		color: #fff;
	}
}