$sidebar-width : 250px;

* {
	margin: 0;
	padding: 0;
	font: 100% 'R-300';
	box-sizing: border-box;
}

html,
body {
	// height: 100%;
}

a {
	color: inherit;
	font: inherit;

	&.tel {
		font-size: 20px;
	}
}

p {
	font-size: 13px;
	& + & {
		margin-top: 20px;
	}
}

h1, h2, h3, h4, h5 {
	margin: 0;
}
h2 {
	font-size: 35px;
}
h3 {
	font-size: 30px;
}
h4 {
	font-size: 30px;
	text-transform: none;
}

nav {
	ul {
		list-style: none;
	}
}

// flexible fix
.wrap .wrap {font-size: 0 !important;}

.clrfix {
	&:after {
		content: '';
		display: table;
		clear: both;
	}
}

.small-desc, small {
	font-size: 11px;
}

.cost {
	font-size: 30px;
	color: $color-dark-red;

	sub {
		font-size: 12px;
		color: #000;
	}
	&.cost-small {
		font-size: 22px;

		sub {
			font-size: 10px;
		}
	}
}

ul.list {
	margin: 25px 0 25px 16px;

	li {
		position: relative;
		margin-bottom: 5px;
		color: #111;
		font-size: 13px;

		&:after {
			content: '';
			display: inline-block;
			position: absolute;
			top: 5px;
			left: -16px;
			width: 6px;
			height: 6px;
			border-radius: 100%;
			background-color: $color-gray;
		}
	}
}