button:focus,
input:focus {
	outline: 0;
}

// CUSTOM BUTTONS STYLES
.btn {
	$button-color: $bg-orange-color;
	padding: 11px 24px;
	background-color: $button-color;
	border: 3px solid $button-color;
	transition: background-color .3s ease;
	font: 15px 'R-700';
	color: #fff;

	&:hover {
		background-color: lighten($button-color, 10%);
	}
	@include additional-colors($color-light-green, green);
	@include additional-colors($color-light-blue, blue);
}
	// @each $color-name, $color-value in (
	// 	green: $color-light-green,
	// 	blue: $color-light-blue
	// ){
	// 	.btn.btn-#{$color-name} {
	// 		background-color: #{$color-value};
	// 	}
	// }

// .btn {
// 	&.btn-green {
// 		border-color: $color-light-green;
// 		background-color: $color-light-green;
// 	}
// 	&.btn-blue {
// 		border-color: $color-light-blue;
// 		background-color: $color-light-blue;
// 	}
// }


// CUSTOM CHECKBOXES STYLES
.chboxes {
	.chbox {
		position: relative;
		display: block;
		overflow: hidden;

		input[type="checkbox"] {
			position: absolute;
			left: -1000px;
			opacity: 0;
		}
		span {
			display: inline-block;
			padding-left: 30px;
			line-height: 16px;
			font-size: 16px;
			color: #1F262C;
			cursor: pointer;

			&:after {
				content: '';
				display: block;
				position: absolute;
				top: 3px;
				left: 0;
				width: 14px;
				height: 14px;
				@include bg($filename: 'bg/bg-chbox.png');
			}
		}
		input[type="checkbox"]:checked ~ span:after {
			background-position: 0 bottom;
		}

	}
	.chbox + .chbox {
		margin-top: 10px;
	}
	&.chb-inline {
		.chbox {
			display: inline-block;
		}
		.chbox + .chbox {
			margin-left: 20px;
		}
	}
}