button:focus,
input:focus {
	outline: 0;
}

// CUSTOM BUTTONS STYLES
.btn {
	$button-color: $bg-orange-color;
	padding: 11px 24px;
	background-color: $button-color;
	border: 3px solid $button-color;
	transition: background-color .3s ease;
	font: 15px 'R-700';
	color: #fff;

	&:hover {
		background-color: lighten($button-color, 10%);
	}
	@include additional-colors($color-light-green, green);
	@include additional-colors($color-light-blue, blue);
}

// CUSTOM CHECKBOXES STYLES

.chbox {
	display: block;
	position: relative;
	overflow: hidden;

	input[type="checkbox"] {
		position: absolute;
		left: -1000px;
		opacity: 0;
	}
	span {
		display: inline-block;
		padding-left: 30px;
		line-height: 16px;
		font-size: 16px;
		color: #1F262C;
		cursor: pointer;

		&:after {
			content: '';
			display: block;
			position: absolute;
			top: 50%;
			left: 0;
			width: 14px;
			height: 14px;
			margin-top: -6px;
			@include bg($filename: 'bg/bg-chbox.png');
		}
	}
	input[type="checkbox"]:checked ~ span:after {
		background-position: 0 bottom;
	}

}

.chboxes {
	.chbox + .chbox {
		margin-top: 10px;
	}
	&.chb-inline {
		.chbox {
			display: inline-block;
		}
		.chbox + .chbox {
			margin-left: 20px;
		}
	}
}