header {
	position: relative;
	height: 80px;
	background-color: #fff;
	box-shadow : 1px 1px 4px rgba(0,0,0,0.15);
	z-index: 2;
	@extend .clrfix;
}

.user-area {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 2;

	.auth-btn,
	.basket-btn,
	.profile-btn {
		display: inline-block;
		height: 80px;
		width: 85px;
		transition: background-color .3s ease;
	}
	.auth-btn {
		@include bg($filename: 'icon/icon-login-btn.png', $bgcolor: $bg-dark-color, $pos: center);
		&:hover {
			background-color: darken($bg-dark-color, 15%);
		}
	}
	.profile-btn {
		@include bg($filename: 'icon/icon-profile-btn.png', $bgcolor: $bg-dark-color, $pos: center);
		&:hover {
			background-color: darken($bg-dark-color, 15%);
		}
	}
	.basket-btn {
		@include bg($filename: 'icon/icon-basket-empty.png', $bgcolor: $bg-yellow-color, $pos: center);
		&.full {
			background-image: url(../../assets/images/icon/icon-basket-full.png);
		}
		&:hover {
			background-color: darken($bg-yellow-color, 5%);
		}
	}
}

.top-search {
	position: relative;
	width: 100%;
	padding: 20px 190px 20px 35px;
	background-color: #fff;

	.search-btn {
		position: absolute;
		top: 20px;
		left: 35px;
		width: 20px;
		height: 40px;
		border: 0;
		@include bg($filename: 'icon/icon-search.png', $pos: center);
		background-size: 20px;
	}
	input[type="text"] {
		width: 99%;
		height: 40px;
		margin-left: 30px;
		border: 0;
	}
}