.main-container {
	position: relative;
	padding-left: $aside-width;
}
main {
	position: relative;
	padding: 0;
	background-color: $color-light-white;
	@extend .clrfix;

	& > div,
	& > form,
	& > section {
		@include rem(margin-bottom, $base-padding);
		@include rem(padding, 0px $base-padding);
	}
}

// CATALOG ITEMS STYLES
.cat {
	$cat-divider-height: 30px;
	// избавляемся от отступов влоеженных элементов
	margin-bottom: -$cat-divider-height;
	@extend .clrfix;

	h2 {
		// font-size: 30px;
		// @include fz(30px);
	}

	.cat-item {
		display: inline-block;
		position: relative;
		margin-bottom: $cat-divider-height;
		font-size: 0;
	}
	.item-image {
		display: inline-block;
		width: 50%;
		height: 220px;
		overflow: hidden;
		vertical-align: top;

		a {
			display: block;
		}
		img {
			min-width: 100%;
			min-height: 100%;
		}
	}
	.item-desc {
		display: inline-block;
		width: 50%;
		height: 220px;
		padding: 25px;
		vertical-align: top;
		background-color: #fff;
		box-shadow:1px 1px 1px rgba(0,0,0,0.12);

		.item-name {
			font: 20px 'R-700';
			margin-bottom: 10px;
		}

		p {
			width: 90%;
			height: 75px;
			margin-bottom: 15px;
			overflow: hidden;
			font-size: 15px;
			line-height: 1.2;
		}

		.basket-area {
			@extend .clrfix;
			.cost {
				line-height: 46px;
			}
		}

		.add-to-basket {
			float: right;

			span {
				margin-right: 10px;
				line-height: 46px;
				text-decoration: underline;
				vertical-align: top;
				font-size: 12px;
				color: #888;
			}

			button {
				width: 46px;
				height: 46px;
				@include bg($filename: 'icon/icon-basket-add.png', $bgcolor: $color-light-green, $pos: center);
				border: 0;
				text-indent: -1000px;
				overflow: hidden;

				&:hover {
					background-color: darken($color-light-green, 5%);
				}
			}
		}
	}
}

// SHOP INFO BLOCK
.breads + .shop-info {
	@include rem(margin-top, -30px);
}
.shop-info {
	// @include rem(padding, 25px 0px);
	padding: 0;
	background-color: #fff;
	box-shadow: 2px 1px 1px rgba(0,0,0, .1);

	.shop-logo {
		@include rem(padding, 25px 30px);
		text-align: center;

		img {
			max-width: 100%;
			max-height: 200px;
		}
	}
	.shop-data {
		@include rem(padding, 25px 30px);
		padding-left: $base-padding/2; // flexible.gs half gutter

		.shop-name {
			@include rem(margin-bottom, 20px);
			font-family: r-700;
			font-size: 26px;
		}
		.shop-tagline {
			@include rem(margin-bottom, 15px);
			font-size: 17px;
		 	color: #626262;
		}
		.shop-args {
			@include rem(margin-bottom, 20px);

			th, td {
				padding: 0 30px 5px 0;
			}
			th {
				font-size: 17px;
				color: #000;
			}
			td {
				font-size: 11px;
				color: #616161;
			}
		}
		.shop-desc {
			// max-width: 55%;		
			font-size: 12px;
			color: #999;
		}
	}
}

// BREADCRUMBS
.breads {
	display: block;
	// min-height: 50px;
	@include rem(padding, 0px $base-padding);
	background-color: #C8C8C8;

	ul {
		padding: 17px 0;
		list-style: none;

		li {
			position: relative;
			display: inline-block;
			min-height: 15px;
			margin-right: 20px;
			vertical-align: middle;
			font-size: 13px;
			font-family: 'r-400';
			line-height: 1;

			a {
				color: #212121;
				text-decoration: none;
				&:hover {
					text-decoration: underline;
				}
			}
			span {
				color: #444;
			}

			&:after {
				content: "/";
				position: absolute;
				top: 0;
				right: -15px;
				color: #545454;
			}
				&:last-child:after {
					display: none;
				}
		}
	}
}

// CATALOG FILTER
.nav-tree {
	@include rem(margin-bottom, $base-padding);
	.nav-title {
		position: relative;
		font-size: 22px;
		font-family: 'm-cond';
		color: $color-light-blue;
		text-transform: uppercase;
	}
	.nav-title ~ ul {
		margin-top: 20px;
	}
	ul {
		@include rem(padding-right, $base-padding);

		li {
			position: relative;
			margin-bottom: 8px;
			font-size: 18px;
			font-family: 'm-cond';
			color: #535353;
			> span {
				font: inherit;
				color: inherit;
				cursor: pointer;
			}
			&:hover {
				color: #333;
				> span {
					// text-decoration: underline;
				}
			}
			&.active {
				> span {
					color: $color-light-blue;
					// text-decoration: underline;
				}
				ul {
					display: block;
				}
			}
			&:last-child {
				margin-bottom: 0;
			}
		}
		ul {
			display: none;
			@include rem(margin, 10px 0 10px 20px);
			li {
				font-size: 16px;
				color: #868686;
			}
		}
	}
	.checkbox-group {
		position: relative;
		@include rem(margin-bottom, 30px);

		&:last-child {
			margin-bottom: 0;
		}

		.clearFilter {
			position: absolute;
			top: 5px;
			@include rem(right, 30px);
			width: auto;
			font: 14px 'm-cond';
			color: #9E9E9E;
		}
	}
}