.modal-bg {
	display: none;
	position: fixed; 
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.4);
	z-index: 100;
}

.modal {
	display: none;
	position: absolute;
	top: 100px;
	left: 50%;
	width: 800px;
	margin-left: -400px;
	visibility: hidden;
	background: #fff;
	z-index: 101;

	.modal-head, .modal-body {
		position: relative;
		padding: 20px 30px;
		font-family: 'r-400';
	}
	.modal-head {
		padding-right: 60px;
		background-color: $bg-yellow-color;
		font-size: 30px;
		font-family: 'r-700';
		color: #000;

		.close-modal-btn {
			position: absolute;
			top: 50%; right: 25px;
			width: 27px; height: 9px;
			margin-top: -5px;
			line-height: 26px;
			background-color: #fff;
			border: 1px solid #fff;
			text-align: center;
			font-size: 0;
			cursor: pointer;
			transform: rotate(-45deg);
			transform-origin: center;
			transition: border-color .3s ease;

			&:before,
			&:after {
				content: '';
				display: block;
				position: absolute;
				background-color: #fff;
			}
			&:before {
				top: -10px; left: 8px;
				width: 7px; height: 25px;
				border: 1px solid #fff;
				border: 1px solid transparent;
				transition: border-color .3s ease;
			}
			&:after {
				top: -2px; left: 7px;
				width: 11px; height: 11px;
				border-radius: 100%;
			}

			&:hover, &:hover:before {
				border-color: #333
			}
		}
	}
	.modal-body {
		.thead {
			float: right;
		}
	}
	label {
		font-size: 12px;
		line-height: 1.3;
	}
	input[type="text"] {
		margin-bottom: 15px;
	}
	.modal-foot {
		padding: 0 30px 20px;

		button {
			@include rem(margin-left, 20px);
		}
	}

	// FORMS
	// Order
		.order-summ {
			display: inline-block;
			font-size: 20px;
			color: #333;

			span {
				display: inline-block;
				position: relative;
				padding-left: 15px;
				font-size: 1.1em;
				color: #666;
			}
		}
		.order-payments {
			margin-top: 10px;

			.radio-group-title {
				display: block;
				margin-bottom: 10px;
				font-size: 12px;
				color: #525261;
			}
			img {
				margin: 10px 0 0 30px;
			}
		}
	
	// Mods
		&.modal-mods {
			.body {
				margin-bottom: 20px;
			}
			.add-info-text {
				margin-bottom: 20px;
			}

			.radio-group-title,
			.checkbox-group-title {
				margin-bottom: 20px;
			}
			.radio-group-items,
			.checkbox-group-items {
				padding-left: 15px;
			}
			.radio-group-items {
				padding-right: 30px;
			}
			.total-cost {
				display: inline-block;
				margin-right: 20px;
				vertical-align: middle;
				font-size: 20px;
				color: #333;

				span {
					font-size: 20px;
					margin-left: 15px;
				}
			}
		}

	// Basket
		&.modal-basket {
			.order-summ {
				// margin-right: 20px;
				@include rem(margin-right, 20px);
			}
		}
}