// xl
	@media only screen and (min-width: 1601px) {
		// home.scss
		.best-offers {
			.nav-tree {
				width: 23%;
			}
			.cat {
				width: 77%;
				float: right;
			}
		}
		.single-product {
			.single-product-desc {
				max-width: 100%;
			}
		}
		// footer.scss
		footer nav ul {
			padding-right: 10%;
		}
	}

// lg
	@media only screen and (max-width: 1441px) {
		html {
			font-size: 15px;
		}
		#authBlock .auth-container{
			padding: 30px 10%;
		}
		// vertical catalog
		// home.scss
			// .best-offers {
			// 	.cat {
			// 		.cat-item {
			// 			min-width: auto;

			// 			.item-image {
			// 				position: relative;
			// 				width: 100%;
			// 				height: 160px;
			// 				overflow: hidden;
			// 			}
			// 			.item-desc {
			// 				padding: 25px;
			// 				height: auto;

			// 				p {
			// 					height: 55px;
			// 				}
			// 			}
			// 		}
			// 	}
			// }
	}

// md
	@media only screen and (max-width: 1401px) {
		html {
			font-size: 13px;
		}
		// main.scss
			.nav-tree {
				.expand-block {
					.expand-trigger {
						@include rem(padding-left, $base-padding);

						&:before, &:after {
							content: '';
						}
					}
				}
				.expand-content {
					display: none;
					padding-left: 10px;

					&.expanded {
						display: block;
					}
				}
				ul ul {
					@include rem(margin, 10px 0);
					position: absolute;
					top: 100%;
					padding: 15px;
					background-color: #eee;
					border: 1px solid #ccc;
					box-shadow: 2px 3px 3px 0 rgba(0,0,0, .3);
					z-index: 1;
				}
			}
		// ---------
	}

// sm
	@media only screen and (max-width: 1100px) {
		// common.scss
		// цвет заливки стрелки вниз
		.filter .checkbox-group {
			>span:after {
				border-color: #fff transparent transparent transparent;
			}
		}
		// main.scss
		.main-container {
			padding-left: 0;
		}

		// auth.scss
		#authBlock {
			transition: none;
			.auth-container {
				padding: 30px;
			}
			.info-block {
				display: none;
			}
		}

		// aside.scss
		aside {
			position: fixed;
			top: $header-height;
			bottom: 0;
			padding: 0;
			width: 50%;
			min-height: 0;
			overflow: hidden;
			overflow-y: auto;
			background-image: none;
			transition: all .3s;
			z-index: 10;
			transform: translateX(-100%);

			nav {
				ul {
					background-color: darken(#21282E, 2%);
					ul {
						height: 0;
						padding: 0;
						list-style-type: square;
						list-style-position: inside;
						overflow: hidden;
						background-color: lighten(#21282E, 5%);
						box-shadow: inset 1px 1px 1px #111;

						&:after {
							content: '+';
							display: block;
							position: absolute;
							top: 0;
							right: 0;
							width: 35px;
							padding: 15px 0;
							background-color: rgba(0,0,0, .2);
							text-align: center;
							cursor: pointer;
						}
						ul {
							box-shadow: none;
							&:after {
								content: none !important;
							}
						}
					}
					li {
						margin: 0;
						border-top: 1px solid #444;
						border-bottom: 1px solid #111;
						cursor: pointer;

						span, a {
							display: inline-block;
							padding: 15px 20px;
						}
						a {
							// padding-left: 40px;
							// @include bg($filename: 'icon/icon-link.png', $pos: 20px center);
							// background-size: 10px;
						}

						// элементы 2го уровня
						li {
							border: 0;

							span, a {
								display: block;
								padding: 7px 20px;
								color: #eee;
								background: none;
							}

							&:after {
								content: none;
							}
							&:hover {
								background: none;
								a {
									text-decoration: underline;
								}
							}
						}
						&.single-item {
							span, a {
								display: block;
							}
						}
						&.expanded {
							ul {
								height: auto;

								&:after {
									content: '-';
								}
							}
							// 2nd ul (container)
							> ul {
								padding: 7px 0;
							}
						}
						&:hover {
							background-color: darken(#21282E, 5%);
							a {
								text-decoration: none;
							}
						}
					}
				}
			}
			.contacts {
				padding: 0 20px 20px;
			}
			> * {
				padding-bottom: 20px;
				background-color: inherit;
			}
			
			&:after {
				content: none;
			}

			&.expanded {
				transform: translateX(0);
			}
		}

		// header.scss
		header {
			display: block;
			box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
			> * {
				display: block;
				height: 80px;
			}
		}
		.logo {
			width: auto;
			button {
				display: inline-block;
			}
		}
		.top-search {
			position: relative;
			width: 100%;
		}
		.user-area {
			position: absolute;
			top: 0;
			right: 0;
			width: auto;

			[class*=header-btn] .title {
				display: none;
			}
		}

		// home.css
		// .best-offers .filter {
		// 	padding-left: 30px;
		// }
		
		// footer.scss
		footer {
			&:after {
				display: none;
			}
		}
	}

// xs
	@media only screen and (max-width: 800px) {
		html {
			font-size: 12px;
		}

		// common.scss
		.cat {
			.cat-item {
				height: auto;
				.item-image,
				.item-desc {
					width: 100%;
					height: 190px;
				}
				.item-desc {
					box-shadow:1px 2px 1px rgba(0,0,0,0.12);
					p {
						height: 55px;
						margin-bottom: 10px;
					}
				}
			}
		}

		// modals.scss
		.modal {
			position: fixed;
			top: 0 !important;
			left: 0;
			width: 100%;
			height: 100%;
			margin: 0;
			overflow: auto;
		}

		// header.scss
		.top-search {
			input[type="text"] {
				font-size: 16px;
			}
		}
		
		.top-slider {
			.slide-content {
				.image {
					width: 50%;
				}
				.desc {
					div {
						line-height: 90%;
						margin-bottom: 10px;
					}
				}
			}
			.swiper-pagination {
				text-align: center;
				bottom: 10px;
			}
		}
		.single-product {
			.single-product-slider {
				width: 50%;
				// max-width: 100%
			}
			.single-product-desc {
				width: 50%;
			}
		}

		// footer.scss
		footer {
			@include bg($bgcolor: $bg-dark-color, $filename: 'bg/bg-aside.png', $pos: 95% bottom);

			.footer-col-1 {
				width: 100%;
			}

			nav {
				margin: 65px 0 40px;
			}
			.social {
				position: absolute;
				top: 35px;
				left: 35px;
				right: 35px;
				padding: 0;
			}
		}
	}

// xxs
	@media only screen and (max-width: 641px) {
		html {
			font-size: 10px;
		}

		// common.scss
		h1 {font-size: 26px;}
		h2 {font-size: 23px;}
		h3 {font-size: 20px;}
		h4 {font-size: 17px;}

		// auth.scss
		#authBlock {
			.trigger-btn {
				right: 30px;
			}
			.auth-container {
				padding: 0;
				overflow: hidden;
			}

			form {
				width: 100%;
				padding: 30px;
			}
			fieldset {
				legend {
					padding: 0;
					background-image: none !important;

					a, b {
						display: inline-block;
					}
				}
			}
			#login-form {
				padding-right: 30px;
			}
		}

		// main.scss
		.cat {
			h2 {
				font-size: 23px;
			}
		}
		.filter {
			.checkbox-group {
				margin-bottom: 20px;
				padding-right: 0;

				> span {
					position: relative;
					padding-left: 40px;

					span {
						cursor: pointer;
					}
					a {
						display: none;
					}

					&:before, &:after {
						content: '';
						position: absolute;
						top: 7px;
						left: 0;
						width: 0;
						height: 0;
						border-style: solid;
						border-width: 14px;
						border-color: $color-light-blue transparent transparent transparent;
						cursor: pointer;
					}
					&:after {
						left: 3px;
						border-width: 11px;
						border-color: #fff transparent transparent transparent;
						// border-color: $color-light-white transparent transparent transparent;
					}
				}
				ul {
					display: none;
					padding-left: 7px;

					&.expanded {
						display: block;
					}
				}
			}
		}

		// header.scss
		.user-area {
			a {
				span {
					display: none;
				}
			}
		}

		// home.scss
		.top-slider {
			.swiper-slide {
				.image {
					width: 50%;
				}
			}
		}
		.single-product {
			.single-product-slider {
				width: 100%;
				max-width: 100%;
				margin-bottom: 20px;
			}
			.single-product-desc {
				width: 100%;
				padding: 0;
			}
		}
		.mobile-adv-wrap {
			.mobile-adv-block {
				display: table;
				.desc {
					position: relative;
					display: table-cell;
					right: 0;
					vertical-align: middle;
					text-align: center;
				}
				.image {
					display: none;
				}
			}
		}

		// table-layout.scss
		.table-row-title {
			margin-bottom: 10px;
			padding: 0;

			img, .address {
				display: none;
			}
		}

		// modals.scss
		.modal-basket {
			.order-summ {
				margin-bottom: 20px;
			}
		}
		.modal-mods {
			.radio-group {
				margin-bottom: 20px;
			}
		}
		.modal-order {
			.order-summ {
				margin: 10px 0;
			}
		}

		// footer.scss
		footer {
			.social {
				.icon {
					margin-right: 15px;
				}
			}
		}
	}

// xmin
	@media only screen and (max-width: 480px) {
		// forms.scss
		.btn {padding: 11px 20px;}
		// common.scss
		.mobile-menu-item {display: block;}

		// auth.scss
		#authBlock {
			position: fixed;
			top: 0;
			bottom: 0;
			width: 100%;
			z-index: 11;

			&.expanded {
				height: auto;
			}
			fieldset {
				width: 100%;
				padding: 0 !important;
			}
			.checkbox {
				margin: 0;
				width: 100%;
				margin-bottom: 20px;
			}
			.btn {
				position: absolute;
				bottom: 0;
			}
		}

		.user-area {
			display: none;
		}

		aside {
			width: 100%;
		}

		// main.scss
		.cat {
			.cat-item {
				width: 100%;
			}
		}

		// home.scss
		.top-slider {
			.swiper-slide {

				&:before {
					content: '';
					position: absolute;
					top: 0; bottom: 0;
					left: 0; right: 0;
					background: rgba(0,0,0, .5);
				}
				.image {
					display: block;
					width: 100%;
				}
				.desc {
					display: block;
					position: absolute;
					bottom: 30px;
					left: 0;
					width: 100%;
					max-height: 100%;
					padding: 30px;
					overflow: hidden;
				}
			}
		}
		// .shops-category {
			// h2 {
			// 	position: relative;
			// 	font-size: 23px;

			// }
			// span.expand-trigger {
			// 	position: absolute;
			// 	top: 0;
			// 	right: 0;
			// 	width: 16px;
			// 	height: 16px;
			// 	// background-color: #333;
			// 	background-image: url(https://cdn2.iconfinder.com/data/icons/enter-and-exit-fullscreen/100/Fullscreen-Set-11-16.png);
			// 	cursor: pointer;
			// }

			// .wrap {
			// 	display: none;
			// }

			// &.expanded {
			// 	.wrap {
			// 		display: block;
			// 	}
			// 	span.expand-trigger {
			// 		background-image: url(https://cdn2.iconfinder.com/data/icons/enter-and-exit-fullscreen/100/Fullscreen-Set-12-16.png);
			// 	}
			// }
		// }

		// footer.scss
		footer {
			background-image: none;

			.to-top-btn {
				top: auto;
				bottom: -40px;
				width: 100%;
				height: 40px;
			}
		}

		// other.scss
		.mobile-menu-item {
			display: block;
		}

		// table-layout.scss
		.table-layout {
			.thead {
				display: none;
			}
			.table-row-title {
				padding: 0 20px;
			}
			.table-row-item {
				padding: 0 20px;

				div {
					font-size: 12px;
				}
			}
				.col-count {
					width: 70px;
				} 
				.col-cost {
					width: 50px;
					text-align: right;
				}
				.col-count {
					input, button {
						width: 20px;
						height: 20px;
						font-size: 13px;
					}
					input {
						width: 28px;
					}
				}
			.table-row-total {
				padding: 15px 20px 0;

				div {
					font-size: 16px;
				}

				.total-cost {
					padding-right: 0;
				}
				.table-row-noty {
					margin-top: 5px;
					font-size: 12px;
				}
			}
		}

		// modals.scss
		.modal {
			.modal-head {
				padding: 20px 60px 20px 20px;
				font-size: 25px;

				.close-modal-btn {
					right: 20px;
				}
			}
			.modal-foot {
				padding: 0 20px 20px;

				button {
					font-size: 13px;
					padding: 9px;
				}
			}
			.order-summ {
				font-size: 18px;
			}
				
			// modal forms
			&.modal-mods {
				.total-cost {
					display: block;
					margin: 0 0 20px;
				}
				.radio-group-items,
				ul {
					padding: 0;
				}
			}
			&.modal-basket {
				.modal-body {
					padding: 0;
				}
			}
		}
	}
