// xl
	@media only screen and (min-width: 1601px) {
		// header.scss
		#auth-block {
			padding: 30px 20%;
		}
		// home.scss
		.best-offers {
			.filter {
				width: 23%;
			}
			.cat {
				width: 77%;
				float: right;

				.cat-item {
					// width: 33%;
				}
			}
		}
		.single-product {
			.single-product-desc {
				max-width: 100%;
			}
		}
		// footer.scss
		footer nav ul {
			padding-right: 10%;
		}
	}

// lg
	@media only screen and (max-width: 1441px) {
		html {
			font-size: 15px;
		}
		#auth-block {
			padding: 30px 10%;
		}
		// vertical catalog
		// home.scss
			// .best-offers {
			// 	.cat {
			// 		.cat-item {
			// 			min-width: auto;

			// 			.item-image {
			// 				position: relative;
			// 				width: 100%;
			// 				height: 160px;
			// 				overflow: hidden;
			// 			}
			// 			.item-desc {
			// 				padding: 25px;
			// 				height: auto;

			// 				p {
			// 					height: 55px;
			// 				}
			// 			}
			// 		}
			// 	}
			// }
	}

// md
	@media only screen and (max-width: 1367px) {
		html {
			font-size: 13px;
		}
		// main.scss
		.filter {
			.checkbox-group {
				// margin-bottom: 0;
				// padding-right: 30px;
				margin-right: 30px;

				.checkbox-group-title {
					position: relative;
					padding-left: 40px;

					span {
						cursor: pointer;
					}
					a {
						display: none;
					}

					&:before, &:after {
						content: '';
						position: absolute;
						top: 7px;
						left: 0;
						width: 0;
						height: 0;
						border-style: solid;
						border-width: 14px;
						border-color: $color-light-blue transparent transparent transparent;
						cursor: pointer;
					}
					&:after {
						left: 3px;
						border-width: 11px;
						border-color: $color-light-white transparent transparent transparent;
					}
				}
				.checkbox-group-items {
					display: none;
					padding-left: 10px;

					&.opened {
						display: block;
					}
				}
			}
		}
	}

// sm
	@media only screen and (max-width: 1100px) {
		// common.scss
		// цвет заливки стрелки вниз
		.filter .checkbox-group .checkbox-group-title:after {
			border-color: #fff transparent transparent transparent;
		}
		// main.scss
		.main-container {
			padding-left: 0;
		}
		.main-content {
			background-color: #fff;
		}

		// auth.scss
		#auth-block {
			padding: 30px;
			.info-block {
				display: none;
			}
		}

		// header.scss
		header {
			box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
		}
		.logo {
			width: auto;
			button {
				display: inline-block;
			}
		}
		.top-search {
			width: 100%;
			position: relative;
			left: 0;
			right: 0;
		}

		// aside.scss
		aside {
			top: -80px;
			bottom: 0;
			margin-left: -$aside-width;
			padding: 35px;
			background-image: none;
			transition: margin-left .3s;
			z-index: 10;

			&.opened {
				margin-left: 0;
			}
		}

		// home.css
		// .best-offers .filter {
		// 	padding-left: 30px;
		// }
		
		// footer.scss
		footer {
			&:after {
				display: none;
			}
		}
	}

// xs
	@media only screen and (max-width: 800px) {
		html {
			font-size: 12px;
		}

		// common.scss
		.cat {
			.cat-item {
				height: auto;
				.item-image,
				.item-desc {
					width: 100%;
					height: 190px;
				}
				.item-desc {
					box-shadow:1px 2px 1px rgba(0,0,0,0.12);
					p {
						height: 55px;
						margin-bottom: 10px;
					}
				}
			}
		}

		// modals.scss
		.modal {
			position: fixed;
			top: 0 !important;
			left: 0;
			width: 100%;
			height: 100%;
			margin: 0;
			overflow: auto;
		}

		// header.scss
		.top-search {
			input[type="text"] {
				font-size: 16px;
			}
		}

		aside {
			min-height: 0px;
			&:after {
				background-image: none;
			}
		}

		.top-slider {
			.slide-content {
				.image {
					width: 50%;
				}
				.desc {
					div {
						line-height: 90%;
						margin-bottom: 10px;
					}
				}
			}
			.swiper-pagination {
				text-align: center;
				bottom: 10px;
			}
		}
		.single-product {
			.single-product-slider {
				width: 50%;
				// max-width: 100%
			}
			.single-product-desc {
				width: 50%;
			}
		}

		// footer.scss
		footer {
			@include bg($bgcolor: $bg-dark-color, $filename: 'bg/bg-aside.png', $pos: 95% bottom);

			.footer-col-1 {
				width: 100%;
			}

			nav {
				margin: 65px 0 40px;
			}
			.social {
				position: absolute;
				top: 35px;
				left: 35px;
				right: 35px;
				padding: 0;
			}
		}
	}

// xxs
	@media only screen and (max-width: 641px) {
		html {
			font-size: 10px;
		}

		// common.scss
		h1 {font-size: 26px;}
		h2 {font-size: 23px;}
		h3 {font-size: 20px;}
		h4 {font-size: 17px;}

		// auth.scss
		#auth-block {
			padding: 0;
			overflow: auto;
			white-space: nowrap;

			form {
				width: auto;
				padding: 30px;
				white-space: normal;
			}
			#login-form {
				padding-right: 30px;
			}
		}

		// main.scss
		.cat {
			h2 {
				font-size: 23px;
			}
		}
		.filter {
			.checkbox-group {
				margin-bottom: 20px;
				padding-right: 0;
			}
		}

		// header.scss
		.user-area {
			a {
				span {
					display: none;
				}
			}
		}

		// home.scss
		.single-product {
			.single-product-slider {
				width: 100%;
				max-width: 100%;
				margin-bottom: 20px;
			}
			.single-product-desc {
				width: 100%;
				padding: 0;
			}
		}
		.mobile-adv-wrap {
			.mobile-adv-block {
				display: table;
				.desc {
					position: relative;
					display: table-cell;
					right: 0;
					vertical-align: middle;
					text-align: center;
				}
				.image {
					display: none;
				}
			}
		}

		// footer.scss
		footer {
			.social {
				.icon {
					margin-right: 15px;
				}
			}
		}
	}

// xmin
	@media only screen and (max-width: 480px) {
		// header.scss
		.logo div {
			display: none;
		}

		// main.scss
		.cat {
			.cat-item {
				width: 100%;
			}
		}

		// home.scss
		.top-slider {
			.slide-content {

				&:before {
					content: '';
					position: absolute;
					top: 0; bottom: 0;
					left: 0; right: 0;
					background: rgba(0,0,0, .5);
				}
				.image {
					display: block;
					width: 100%;
				}
				.desc {
					display: block;
					position: absolute;
					bottom: 30px;
					left: 0;
					width: 100%;
					max-height: 100%;
					padding: 30px;
					overflow: hidden;
				}
			}
		}

		// footer.scss
		footer {
			background-image: none;

			.to-top-btn {
				top: auto;
				bottom: -40px;
				width: 100%;
				height: 40px;
			}
		}
	}
