.table-layout {
	.thead {
		display: table;
		padding-bottom: 10px;
		text-align: left;

		div {
			display: table-cell;
			font-size: 14px;
			color: #A5A5A5;
		}
	}

	.col-count, .col-cost {
		width: 90px;
		text-align: center;
	}

	.col-count {
		input, button {
			float: left;
			width: 28px;
			height: 28px;
			font-size: 15px;
			vertical-align: middle;
			text-align: center;
		}
		input {
			border-radius: 0;
			margin: 0 1px;
		}
		button {
			background-color: #A4A4A4;
			border: 0;
			font-weight: 600;
			color: #fff;
		}
	}
}
.table-row {
	padding: 20px 0;
	border-top: 1px solid #ccc;
}

.table-row-title {
	position: relative;
	padding-left: 55px;

	img {
		position: absolute;
		top: 0;
		left: 0;
	}
	h4 {
		margin-bottom: 5px;
		font: 18px 'R-400';
		line-height: 16px;
	}
	.address {
		font-size: 10px;
		color: #666;
	}
}
.table-row-items {
	> div + div {
		margin-top: 20px;
	}
	.table-row-item {
		display: table;
		table-layout: fixed;
		width: 100%;

		div {
			display: table-cell;
			vertical-align: middle;
			font-size: 14px;
		}
	}
}
.table-row-total {
	margin-top: 20px;
	padding-top: 20px;
	border-top: 1px solid #ccc;

	div {
		font-size: 20px;
		font-family: 'R-400';
	}

	.total-cost {
		padding-right: 30px;
		font-family: 'R-300';
	}
	.table-row-noty {
		margin-top: 10px;
		font-size: 14px;
		color: $color-red;

		&:before {
			content: '* ';
		}
	}
}