// COLORS
	// bg colors
	$bg-dark-color		: #21282E;
	$bg-yellow-color	: #FED700;
	$bg-orange-color	: #FF4933;

	// font colors
	$color-light-white	: #F6F6F6;
	$color-gray			: #9E9E9E;
	$color-light-gray	: #DDD;
	$color-light-gray-2	: #B8B8B8;
	$color-light-blue	: #00B3D3;
	$color-light-green	: #BBCC29;
	$color-dark-red		: #993300;

// MIXINS

@mixin bg ($filename, $bgcolor:transparent, $pos: 0 0, $repeat:no-repeat) {
	background: $bgcolor url('../../assets/images/' + $filename) $pos $repeat;
}

@mixin additional-colors ($color-value, $color-name) {
	&.btn-#{$color-name} {
		background-color: $color-value;
		border-color: $color-value;
		&:hover {
			background-color: lighten($color-value, 10%);
		}
	}
}

@mixin gradient ($img, $from, $to, $pos: 0 0, $repeat: repeat) {
	background-image: radial-gradient(circle at center, $from 0%, $to 100%), url('../../assets/images/' + $img);
	background-repeat: $repeat;
	background-position: $pos;
}


// CUSTOM CHECKBOX & RADIO STYLES
@mixin customInput ($type: checkbox, $x: 14px, $y: 14px) {
	.#{$type} {
		display: block;
		position: relative;
		overflow: hidden;

		input[type="#{$type}"] {
			position: absolute;
			left: -1000px;
			opacity: 0;
		}
		span {
			display: block;
			position: relative;
			padding-left: 30px;
			font-size: 16px;
			color: #1F262C;
			cursor: pointer;

			&:after {
				content: '';
				display: block;
				position: absolute;
				top: 50%;
				left: 0;
				width: $x;
				height: $x;
				margin-top: -$x/2;
				@include bg($filename: 'bg/bg-#{$type}.png');
			}
		}
		input[type="#{$type}"]:checked ~ span:after {
			background-position: 0 bottom;
		}
		b {
			display: inline-block;
			position: absolute;
			top: 0; right: 0;
			font-weight: normal;
			font-size: 16px;
			color: #1F262C;
		}
	}
	.#{$type}-group {
		.#{$type} + .#{$type} {
			margin-top: 10px;
		}
		&.#{$type}-group-inline {
			.#{$type} {
				display: inline-block;
			}
			.#{$type} + .#{$type} {
				margin-left: 20px;
			}
		}
	}
}